node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Database (kalau pakai SQLite lokal atau db dump)
*.sqlite
*.sqlite3
*.db

# Session / secret files
*.pem
*.key
secrets/
credentials.json

# Log files
*.log
npm-debug.log*

# Editor/IDE
.vscode/*
!.vscode/extensions.json
.idea/